<%include partials/header%>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome to NoSpyAcc</h1>
        <p class="lead">
            This is a service for making non-crucial, spying free, anonymous, static accounts.
            Accounts created by NoSpyAcc are made to be used for sites that don't require any personal user information.
        </p>
        <hr class="my-4">
        <div class="container mid">
            <div class="text-center">
                <h2>Create new NoSpyAcc account</h2>
                <a class="btn btn-primary btn-lg" href="/new" role="button">Create New</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="container mid">
            <%if(!userInfo) {%>
            <h2 class="text-center">Log in</h2>
            <form action="/login" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username" placeholder="username" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    </div>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password" placeholder="password" required>
                </div>
                <div class="text-center"> 
                    <button type="submit" class="btn btn-primary mb-2">Login!</button>
                </div>
            </form>
            <%}%>
        </div>
    </div>
</div>

<%include partials/footer%>